div {
    background: rgba(255,255,255, 0.178);
    width:50px;
    transition: background 500ms;
}

div:hover {
    background: rgba(255,255,255, 0.3);
}

img {
    padding: 20%;
    filter: invert(100%)
}